<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Без подписи -->
    <key>signingStyle</key>
    <string>manual</string>

    <!-- Новый метод без подписи -->
    <key>method</key>
    <string>debugging</string>

    <!-- Фиктивный Team ID (нужен, но не проверяется) -->
    <key>teamID</key>
    <string>XXXXXXXXXX</string>

    <!-- Без provisioning -->
    <key>provisioningProfiles</key>
    <dict/>

    <!-- Без сертификатов -->
    <key>signingCertificate</key>
    <string></string>

    <!-- Не компилировать Bitcode -->
    <key>compileBitcode</key>
    <false/>

    <!-- Не убирать Swift символы -->
    <key>stripSwiftSymbols</key>
    <false/>

    <!-- Указываем директорию экспорта -->
    <key>destination</key>
    <string>export</string>
</dict>
</plist>
